#pillNav2 {
  background-color: #e9ecef;
}

#pillNav2 .nav-link {
  border-radius: 50rem;
  background-color: transparent;
  color: #6c757d;
}

#pillNav2 .nav-link.active {
  background-color: #ffffff;
  color: #000000;
}
