.icon-box {
  width: 50px;
  height: 50px;
}

.bg-custom-blue {
  background-color: #2563eb;
}

.bg-custom-green {
  background-color: #22c55e;
}

.bg-custom-orange {
  background-color: #f97316;
}

.bg-custom-purple {
  background-color: #9333ea;
}

.feature-card {
    transition: all 0.3s ease;
}

.feature-card:hover {
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1), 0 10px 15px rgba(0, 0, 0, 0.05) !important;
    transform: translateY(-5px);
}