.icon-box {
  width: 50px;
  height: 50px;
}

.bg-custom-blue {
  background-color: #2563eb;
}

.bg-custom-green {
  background-color: #22c55e;
}

.bg-custom-orange {
  background-color: #f97316;
}

.bg-custom-purple {
  background-color: #9333ea;
}

