
@media (min-width: 992px) {
  .custom-responsive-dropdown {
    position: relative;
  }

  .custom-responsive-dropdown .dropdown-menu {
    position: absolute;
    top: 100%;          
    left: 0;            
    width: auto;
    min-width: max-content;
  }
}

.navBar-hover:hover{
  color: rgb(0,0,0,0.65);
}



@media (max-width: 991.98px) {
  .custom-responsive-dropdown {
    position: relative;
  }

  .custom-responsive-dropdown .dropdown-menu {
    position: absolute;
    top: -2.2rem;       
    left: 12rem;       
    right: auto;
    width: auto;
    min-width: max-content;
  }
}


/* Hover para todos los elementos del navbar */
.navBar-link:hover,
.navBar-link-inner:hover {
  color: rgba(0, 0, 0, 1) !important;
}

/* Si quieres que cambien también los iconos dentro */
.navBar-link:hover i,
.navBar-link-inner:hover i {
  color: rgba(0, 0, 0, 1) !important;
}
