.bg-orange{
    background-color: #f97316
}

.header-orange{
    background: #EDDD53;
    background: linear-gradient(90deg, rgba(237, 221, 83, 1) 0%, rgba(249, 115, 22, 1) 50%);
}

.logo{
    width: 100px;
    height: 120px;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dropdown-item:hover {
    background: linear-gradient(90deg, rgba(237, 221, 83, 1) 0%, rgba(249, 115, 22, 1) 50%);
    color: black !important;
}